<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">The New IMDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% console.log(user) %>
        <% if (user === undefined){ %>
        <a class="nav-link" href="/login">Login with Discord <span class="sr-only">(current)</span></a>
        <% } else { %>
      <li>Welcome, <%= user.username %></li>
      <% } %>
      </li>
      <li><a class="nav-link" href="/favorites">Favorites</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form action="/search?source=hp" method="post" id="search-form" class="form-inline my-2 my-lg-0">

          <div class="form-group">
            <select name="cat" class="form-control" id="cat">
              <option value="movie">Movie Title</option>
              <option value="person">Actor</option>
            </select>
          </div>

          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="movieSearch">

          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>

        </form>
      </li>
    </ul>

  </div>
</nav>